
*{
  box-sizing: border-box;
}


body {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
}

.navBar { 
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;     
}

.navList ul {
  display: flex;
  padding: 0;
  margin: 0;  
}


.navList li {
  list-style: none;  
}

.navList li a {
  display: block;
  text-decoration: none;
  padding: 20px; 
  color: white; 
}

.navList li:hover {
  background-color: rgb(67, 74, 74);;
  border-radius: 5px;
}


 .menu {
  display: none;
  position: absolute;
  right: 10px;
  top: 20px;
  
} 




@media (max-width: 600px) {
  .menu {
     display: flex;
     cursor: pointer;
   } 
 
   .navList {
     display: none;  
     width: 100%;
   }
 
   .navBar {
     flex-direction: column;
     align-items: flex-start;
   }
 
   .navList ul {
     flex-direction: column;
     width: 100%;
   }
 
   .navList li a {
     padding: 5px 1px;
   }
  }



.homeHeading {
  margin-top: 200px;
  margin-left: 200px;
}

.homePara {  
  margin-left: 200px;  
  letter-spacing: 1px;
}
.aboutPara {
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 400px;
}

.skillset {
  margin-left: 50px;
}

.skillList {
  margin-left: 50;
  color: black;
  list-style: none;
}


.myForm {
  margin-left: 100px;
  margin-top: 50px;
  
}

.myForm input {
  border: none;
  padding: 10px;
  width: 20%;
  background-color: azure;

}

.myForm textarea {
  padding: 10px;
  border: none;
  width: 20%;
  background-color: azure;
}

.sabmit {
  padding: 10px;
  border-radius: 3px;
  color: white;
  background-color: black;
}
.sabmit:hover {
  cursor: pointer;
}




/* styling projects starts here */
.projects {
  width: 100%;
  background-color: #3b3131;
}

.project {
  width: 100%;
  display: flex;
  position: relative;
  height: 60vh;
  margin-bottom: 3rem;
  left: 10px;
}

.project a {
  text-decoration: none;
}

.giftcardimage {
  width: 50%;
  border-radius: 5px;
  height: 100%;
}

.todoimage {
  width: 50%;
  border-radius: 5px;
  height: 100%;
}

.bmiimage {
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

.clockimage {
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

.fbimage {
  width: 50%;
  height: 100%;
  border-radius: 5px;
}


.heading5 {
  color: white;
  font-size: large;
}


/* styling resume */
.myResume {
  width: 50%;
  height: 100vh;
  position: relative;
}