
*{
  box-sizing: border-box;
}


body {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
}

.navBar { 
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;     
}

.navLst {
  display: flex;
  padding: 0;
  margin: 0;  
}


.navLst li {
  list-style: none;  
}

.navLst li a {
  display: block;
  text-decoration: none;
  padding: 20px; 
  color: white; 
}

.navLst li:hover {
  background-color: rgb(67, 74, 74);;
  border-radius: 5px;
}


 .menu {
  display: none;
  
} 




@media screen and (max-width: 600px) {
  .menu {
     display: block;
     cursor: pointer;
     position: absolute;
     right: 10px;
     top: 20px;
   } 
 
   .navLst {
     display: none;       
   }
 
   /* .navBar {
     flex-direction: column;
     align-items: flex-start;
     background-color: black;     
   } */
 
   .navLstMobile {
     position:absolute;
     display: block;
     list-style: none;
     background-color: blue;
     left: 0;
     top: 75px;
     transition: all 0.5s;
     width: 100%;    
     
   }
 
   .navLst li a {
     padding: 5px 1px;
     width: 100%;
   }
  }



.homeHeading {
  margin-top: 200px;
  margin-left: 200px;
}

.homePara {  
  margin-left: 200px;  
  letter-spacing: 1px;
}
.aboutPara {
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 400px;
}

.skillset {
  margin-left: 50px;
}

.skillList {
  margin-left: 50;
  color: black;
  list-style: none;
}


.myForm {
  margin-left: 100px;
  margin-top: 50px;
  
}

.myForm input {
  border: none;
  padding: 10px;
  width: 20%;
  background-color: azure;

}

.myForm textarea {
  padding: 10px;
  border: none;
  width: 20%;
  background-color: azure;
}

.sabmit {
  padding: 10px;
  border-radius: 3px;
  color: white;
  background-color: black;
}
.sabmit:hover {
  cursor: pointer;
}




/* styling projects starts here */
.projects {
  width: 100%;
  
}

.project {
  width: 100%;
  display: flex;
  position: relative;
  height: 60vh;
  margin-bottom: 3rem;
  left: 10px;
  top: 20px;
}

.project a {
  text-decoration: none;
}

.giftcardimage {
  width: 50%;
  border-radius: 5px;
  height: 100%;
}

.todoimage {
  width: 50%;
  border-radius: 5px;
  height: 100%;
}

.bmiimage {
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

.clockimage {
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

.fbimage {
  width: 50%;
  height: 100%;
  border-radius: 5px;
}


.heading5 {
  color: black;
  font-size: large;
}


/* styling resume */
.myResume {
  background-color: rgb(248, 243, 243);
  display: flex;
  justify-content: center;
}